* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Canela Text Trial', sans-serif;
    font-family: 'Canela Trial', sans-serif;
    font-family: 'Canela Condensed Trial', sans-serif;
    font-family: 'Canela Deck Trial', sans-serif;
}