@import "colors";
@import "reset";
@import url('https://fonts.cdnfonts.com/css/canela-text-trial');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.header {
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;

    .menu__list {
        display: flex;
        align-items: center;
        .menu__item {
            padding-right: 20px;
            list-style-type: none;
            padding-right: 40px;
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            .menu__link {
                text-decoration: none;
                color: #808080;
                transition: .3s ease;
                &:hover {
                    color: #D6EF0E;
                }
            }
            .menu__link_active {
                color: $yellow;
            }
        }
    }
}
.btn {
    display: flex;
    justify-content: end;
    align-items: center;
    .btn__primary {
        border: none;
        outline: none;
        padding: 12px 40px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        background-color: $bgyellow;
        color: #000;
        border-radius: 8px;
        transition: .5s ease;
        cursor: pointer;
        &:hover {
            background-color: #fff;
        }
    }
}



.intro-left {
    margin-top: 118px;
    padding: 0;
    .intro__tittle {
        width: 500px;
       h1 {
        font-weight: 500;
        font-size: 55px;
        line-height: 76.8px;
        margin-bottom: 40px;
        color: #fff;
       }
        .intro__tittle-span {
            color: $yellow;
        }
    }
    .intro__text {
        width: 544px;
        color: black;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 40px;
        line-height: 25px;
        color: #fff;
        p {
            font-family: 'Inter';
        }
    }
    .intro__btns {
        margin-bottom: 72px;
        .intro__btns-first {
            border: none;
            outline: none;
            padding: 12px 40px;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 700;
            background-color: $bgyellow;
            color: #000;
            border-radius: 8px;
            transition: .5s ease;
            cursor: pointer;
            &:hover {
                background-color: #fff;
            }
        }
        .intro__btns-second {
            border: none;
            outline: none;
            padding: 12px 20px;
            font-size: 16px;
            font-weight: 700;
            font-family: 'Inter';
            background-color: transparent;
            color: #fff;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}
.intro__stats {
    display: flex;
    flex-direction: 1fr 1fr 1fr;
    justify-content: space-around;
    margin-bottom: 118px;

    .intro__stats-item {
        border-right: 1px solid $yellow;
        padding-right: 20px;
        h2 {
            font-weight: 500;
            font-size: 48px;
            color: #fff;
        }
        p {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            color: #fff;
        }
        .intro__stats-span {
            color: $yellow;
        }
    }
    .intro__stats-item:last-child {
        border-right: 0px;
        padding-right: 0px;
    }
}



.intro-right {
    display: flex;
    justify-content: center;
    margin-top: 92px;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    .intro__card {
        width: 304px;
        height: 169px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #131E3A;
        border-top: 5px solid #D6EF0E;
        box-shadow: 0px 9px 50px rgba(23, 36, 65, 0.04);
        border-radius: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: absolute;
        top: 85%;
        right: 0;
        .intro__card-general {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0px;
            gap: 104px;
            .intro__card-left {
                font-weight: 400;
                font-size: 16px;
                font-family: 'Inter';
                color: $yellow;
                p {
                    color: #fff;
                }
            }
            .intro__card-right {
                font-weight: 400;
                font-size: 16px;
                font-family: 'Inter';
                color: $yellow;
                p {
                    color: #fff;
                }
            }
        }
        .intro__card-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;

            .btn-card {
                border: 1px solid $yellow;
                border-radius: 8px;
                padding: 12px 40px;
                font-weight: 700;
                font-size: 16px;
                font-family: 'Inter';
                color: $yellow;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}




.headerArtSection {
    height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerArt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .headerArt__tittle {
        height: 116px;
        display: flex;
        flex-direction: row;
        h2 {
            font-weight: 500;
            font-size: 48px;
            line-height: 57px;
            color: #fff;
        }
        .headerArt__tittle-span {
            color: $yellow;
        }
    }
    .btn__header__art {
            border: none;
            outline: none;
            padding: 12px 40px;
            font-family: 'Inter';
            font-weight: 700;
            font-size: 16px;
            background-color: $yellow;
            color: #000;
            border-radius: 8px;
            gap: 12px;
            cursor: pointer;
    }
}
.card__art {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    margin-top: 64px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    .card__art-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        gap: 24px;
        background: #131E3A;
        border-top: 5px solid #D6EF0E;
        border-radius: 28px;
        .card__art-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 16px;
            .card__art-info-tittle {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 50px;
                color: #fff;
                h2 {
                    font-weight: 700;
                    font-size: 24px;
                }
            }
            .card__art__info-desc {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                gap: 93px;
                .card__art__info-left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 4px;
                    h6 {
                        font-weight: 400;
                        font-size: 14px;
                        color: #838382;
                        font-family: 'Inter';
                    }
                    p {
                        font-family: 'Inter';
                        font-weight: 700;
                        font-size: 16px;
                        color: #fff;
                    }
                }
                .card__art__info-right-btn {

                    .card__art__btn-first {
                        border: 1px solid $yellow;
                        border-radius: 8px;
                        padding: 12px 40px;
                        font-weight: 700;
                        font-size: 16px;
                        font-family: 'Inter';
                        color: $yellow;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.card__art__btn-first {
    border: 1px solid $yellow;
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Inter';
    color: $yellow;
    background-color: transparent;
    cursor: pointer;
}

.bestNFT {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 92px 111px;
}
.BNFT__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 426px;
    margin-top: 170px;
    .BNFT__tittle {

        .BNFT__tittle-span {
            color: $yellow;
        }
        h2 {
            font-weight: 500;
            font-size: 48px;
            line-height: 76.8px;
            color: #fff;
        }
}
    .BNFT__desc {
        font-weight: 400;
        font-size: 16px;
        p {
        font-family: 'Inter';
        color: #fff;
        }
}
    .BNFT__btns {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        .BNFT__button__first {
            border: none;
            outline: none;
            padding: 12px 40px;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 700;
            background-color: $bgyellow;
            color: #000;
            border-radius: 8px;
            transition: .5s ease;
            cursor: pointer;
            &:hover {
                background-color: #fff;
            }
        }

        .BNFT__button__second {
            border: none;
            outline: none;
            padding: 12px 20px;
            font-family: 'Inter';
            background-color: transparent;
            color: #fff;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}
.BNFT__right {
    height: 560px;
    margin-top: 92px;
    margin-bottom: 72px;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    .img__BNFT_First {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .img__BNFT_Second {
        position: absolute;
        right: 0;
        z-index: -1;
    }
}


.headerArtist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    .headerArtist__tittle {
        h2 {
            font-weight: 500;
        font-size: 48px;
        line-height: 76.8px;
        color: #fff;
        }
        .headerArtist__tittle-span {
            color: $yellow;
        }
    }
    .headerArtist__btn {
        border: none;
        outline: none;
        padding: 12px 40px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        background-color: $bgyellow;
        color: #000;
        border-radius: 8px;
        gap: 12px;
        transition: .5s ease;
            cursor: pointer;
            &:hover {
                background-color: #fff;
            }
    }
}




.introArtistBlock {
    display: flex;
    align-items: flex-start;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    .introArtistLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .introArtistUP {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 30px;
            .introArtistUP__content {

                .imgUP {
                    width: 300px;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    position: relative;
                    .introArtistUP__profile {
                        height: 45px;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        left: 24px;
                        top: 75%;
                        z-index: 1000;
                        .introArtistUP__logo {
                            padding-right: 12px;
                            cursor: pointer;
                        }
                        .introArtistUP__info {
                            .introArtistUP__infro__tittle {
                                h5 {
                                    color: #fff;
                                    font-family: 'Inter';
                                    font-weight: 400;
                                    font-size: 14px;
                                }
                                
                            }
                            .introArtistUP__infro__desc {
                                h4 {
                                    color: #fff;
                                    font-family: 'Inter';
                                    font-weight: 700;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .introArtistDown {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 30px;
            .introArtistDown__content {

                .imgDown {
                    position: relative;
                    .introArtistDown__profile {
                        height: 45px;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        left: 24px;
                        top: 75%;
                        z-index: 1000;
                        .introArtistDown__logo {
                            padding-right: 12px;
                            cursor: pointer;
                        }
                        .introArtistDown__infro__tittle {
                            h5 {
                                color: #fff;
                                font-family: 'Inter';
                                font-weight: 400;
                                font-size: 14px;
                            }
                        }
                        .introArtistDown__infro__desc {
                            h4 {
                                color: #fff;
                                font-family: 'Inter';
                                font-weight: 700;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.introArtistRight__content {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    .imgRight {
        .ImgRight {
            width: 416px;
            height: 652px;
            background: linear-gradient(2.23deg, rgba(19, 30, 58, 0.92) 16.36%, rgba(19, 30, 58, 0) 52.73%);
            border-radius: 16px;
            
        }
        position: relative;
        .introArtistRight__profile {
            height: 45px;
            display: flex;
            align-items: center;
            position: absolute;
            left: 24px;
            top: 88%;
            z-index: 1000;
            .introArtistRight__logo {
                padding-right: 12px;
                cursor: pointer;
            } 
            .introArtistRight__infro__tittle {
                h5 {
                    color: #fff;
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            .introArtistRight__infro__desc {
                h4 {
                    color: #fff;
                    font-family: 'Inter';
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }
}
.ImgBlock {
    width: 600px;
    margin-top: 180px;
    margin-left: 26px;
    .LeftContentImgs {
        height: 420px;
        position: relative;
        .Left__FirstImg {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 20px;
            transform: rotate(-11.19deg);
        }
        .Left__SecondImg{
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 20px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
.EmailBlock {
    margin-top: 177px;
    .EmailRightContent {
        width: 520px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        margin-left: 124px;
        gap: 40px;
        .EmailRight__tittle {
            h2 {
                font-weight: 500;
                font-size: 48px;
                line-height: 76.8px;
                color: #fff;
            }
            .EmailRight__tittle-span {
                color: $yellow;
            }
        }
        .EmailRight__desc {
            p {
                font-weight: 400;
                font-size: 16px;
                font-family: 'Inter';
                color: #fff;
            }
        }
        .EmailRight__InputBtn {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            .EmailRight__input {
                width: 516px;
                border: none;
                outline: none;
                padding: 16px 24px;
                background: #131E3A;
                border-radius: 8px;
                font-weight: 400;
                font-size: 16px;
                font-family: 'Inter';
                color: rgba(255, 255, 253, 0.72);
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            .EmailRight__button {
                border: none;
                outline: none;
                padding: 12px 40px;
                background: $yellow;
                border-radius: 8px;
                color: #000;
                font-family: 'Inter';
                font-weight: 700;
                font-size: 16px;
                position: absolute;
                right: 4px;
                transition: .5s ease;
                cursor: pointer;
                &:hover {
                    background-color: #fff;
            }
            }
        }
    }
}
.footer {
    margin-top: 180px;
}
.FooterLeftBlock {
    border-bottom: 1px solid #838382;
    .FooterLeftBlock__tittle {
        width: 270px;
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFD;
        }
    }
    .FooterLeftBlock__icons {
        
        .FoterLeftBlock__list {
            display: flex;
            margin-top: 24px;
            gap: 15px;
            .FoterLeftBlock__item {
                font-size: 30px;
                list-style-type: none;
                color: black;
                .FoterLeftBlock__item--active {
                    background-color: $yellow;
                }
                .FoterLeftBlock__link {
                    color: #fff;
                    text-decoration: none;
                    border-radius: 15px;
                }
                .FoterLeftBlock__link_active {
                    color: $yellow;
                }
            }
        }
    }
}



.FooterRightBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}












.FooterCopy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .FooterCopy__tittle-left {
       h4 {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFD;
       }
    }
    .FooterCopy__tittle-right {
        display: flex;
        align-items: center;
        gap: 28px;
        .FooterCopy__tittle__Privacy {
            h4 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFD;
            }
        }
        .FooterCopy__tittle__Terms {
            h4 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFD;
            }
        }
    }
}